h1{
    color: blueviolet;
    font-size: 2rem;
}

p{
    color: rgb(10, 172, 172);
    font-size: 2rem;
}

@media (min-width: 576px) {

    h1{
        color: rgb(32, 34, 165);
    }
    
}

@media (min-width: 676px){
    h1{
        color: rgb(136, 42, 97);
    }
}

@media (min-height: 300px){
    p{
        color: rgb(106, 138, 18);
    }
}

@media (orientation: landscape){
    p{
        color: aqua;
    }
}