body{
    background-color: bisque;
}
#tituloprincipal{
    background-color: yellowgreen;
    margin: 15px;
    border-radius: 15px;
    text-align: center;

}

.pseudoclase:hover{
color: rgb(54, 250, 54);
background-color: black;
border-radius: 5px;
}
.button:hover{
    background-color: brown;
    border-radius: 5px;
}
